.Result {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: medium;
  margin-bottom: 5rem;
}

.Result-Title {
  font-size: large;
}

.Result-Subtitle {
  font-size: x-large;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

.Result-Description {
  margin-top: 1.5rem;
}

.Result-Card {
  width: 70vmin;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.34) 0px 10px 20px 0.5px;
  white-space: pre-wrap;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem 3rem 3rem;
}

.Result-Share {
  margin-top: 3rem;
}

.Result-Button {
  width: 50vmin;
  height: 3rem;
}

@media (min-width: 700px) {
  .Result-Card {
    width: 500px;
  }
}
